<div class="container bg-warning">
  <div class="row">
    <div class="w-100 mt-3">
      <h1 class="title text-center mb-4 font-weight-bold">你想對誰說幹話？</h1>
    </div>
    <form method="POST" action="/">
      <div class="card-group">
        <div class="card mr-4">
          <img class="card-img-top"
            src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/5668/angry-developer.jpg" alt=" engineer"
            style="height: 280px; object-fit: cover">
          <div class="card-body p-3 row justify-content-center">
            <p class="card-text">
              <input type="radio" style="width: 15px; height: 15px" name="job" value="engineer"
                {{#ifEquals selectedJob 'engineer'}}checked{{/ifEquals}}>
              <span class="font-weight-bold" style="font-size: 20px">工程師</span>
            </p>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top"
            src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/5667/angry-designer.jpg" alt=" designer"
            style="height: 280px; object-fit: cover">
          <div class="card-body p-3 row justify-content-center">
            <p class="card-text">
              <input type="radio" style="width: 15px; height: 15px" name="job" value="designer"
                {{#ifEquals selectedJob 'designer'}}checked{{/ifEquals}}>
              <span class="font-weight-bold" style="font-size: 20px">設計師</span>
            </p>
          </div>
        </div>
        <div class="card ml-4">
          <img class="card-img-top"
            src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/5669/angry-founder.jpg"
            alt=" entrepreneurr" style="height: 280px; object-fit: cover">
          <div class="card-body p-3 row justify-content-center">
            <p class="card-text">
              <input type="radio" style="width: 15px; height: 15px" name="job" value="entrepreneur "
                {{#ifEquals selectedJob 'entrepreneur'}}checked{{/ifEquals}}> <span class="font-weight-bold"
                style="font-size: 20px">創業家</span>
            </p>
          </div>
        </div>
        <div class="output col-12 mt-2 pl-0">
          <button type=" submit" class="btn bg-danger text-white mr-2 font-weight-bold">產生幹話</button>
          <input type="text" style="width: 1000px; height: 38px" placeholder="{{trashTalk}}" readonly>
        </div>
    </form>
  </div>
</div>